<div class="workshop-description">
  <div class="form-group">
    <p class="user-task-label">Naziv radionice: </p>
    <%= @workshop.name %>
  </div>
  <div class="form-group">
    <p class="user-task-label">Opis radionice: </p>
    <%= @workshop.description %>
  </div>
  <div class="form-group">
    <p class="user-task-label">Početak: </p>
    <%= pretty_date(@workshop.start_date) %>
  </div>
  <div class="form-group">
    <p class="user-task-label">Kraj: </p>
    <%= pretty_date(@workshop.end_date) %>
  </div>
  <div class="form-group">
    <p class="user-task-label">Članovi koji su posjetili radionicu: </p>  
    <% if @workshop.no_member? %>
      Niko
    <% else %>
    <p>
      <% @workshop.users.each do |user| %>
        <%= user.fullname %><br>
       <% end %>
    </p>
    <% end %>
  </div>
  <%= link_to 'Nazad', admin_workshops_path, class: 'btn btn-default' %>
</div>

