<%= form_tag(params.merge(:controller => "memberships", :action => "create")) do %>
  <div>
    <p><%= @project.name %></p>
    <small><%= @project.description %></small><br>
    <small><%= @project.start_date %> - <%= @project.end_date %></small>
  </div>
  <div>
    <p>Izaberite timove koji će učestvovati u ovom projektu</p>
    <% @project.teams.each do |team| %>
      <span><%= check_box_tag 'teams[]', team.id %> <%= team.shortcode %></span>
    <% end %>
  </div>
  <div>
    <%= submit_tag 'Spasi', disabled: true %>
    <%= link_to 'Ne želim raditi za ovaj projekat', params.merge(:controller => "memberships", :action => "reject"), method: :post %>
  </div>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    $("input[type='checkbox'").click(function() {
      if($('input[name="teams[]"]:checked').length > 0) {
        $('input[type="submit"]').removeAttr('disabled')
      } else {
        $('input[type="submit"').attr('disabled', 'disabled');
      }
    })
  });
</script>