<div class="login-form">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
              <%= form_for :session, url: { action: "create" }, html: {class: 'form-horizontal login'} do |form| %>
                <p class="form-title">Login</p>
                <div class="field form-group">
                  <%= form.label :email, class: 'col-sm-2 control-label' %>
                  <div class="col-sm-10">
                  <%= form.email_field :email %>
                  </div>
                </div>
                <div class="field form-group">
                  <%= form.label :password, 'Šifra', class: 'col-sm-2 control-label' %>
                  <div class="col-sm-10">
                  <%= form.password_field :password %>
                  </div>
                </div>
                <div class="actions form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                  <%= form.submit "Loguj se", class: 'tn btn-success btn-sm' %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
      </div>
  </div>
</div>




