<% provide(:title, 'Reset password') %>
<div class="login-form">
 <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">


    <%= form_for(@user, url: password_reset_path(params[:id]),html: {class: 'form-horizontal login'}) do |f| %>
    
    <p class="form-title">Reset sifre</p>
                <div class="field form-group">

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password ,"Sifra",class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
      <%= f.password_field :password, class: 'form-control' %>
      </div>
      </div>
      <div class="field form-group">

      <%= f.label :password_confirmation, "Potvrda" ,class: 'col-sm-2 control-label'%>
      <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      </div>
      	<div class="actions form-group">
       				<div class="col-sm-offset-2 col-sm-10">

      <%= f.submit "Promjeni sifru", class: "tn btn-success btn-sm" %>
      </div>
      </div>
    <% end %>
     		 	</div>
		</div>
	</div>
</div>
</div>

