<% if @edit %>
  <div class="form-group">
    <%if !@task.user_tasks.empty? %>
      <p>Odobrite prijave: </p>
      <% @task.user_tasks.each do |user| %>
        <%= check_box_tag 'user_tasks[]', user.id,user.accepted%> <%= User.find(user.user_id).firstname %>
        <% if user.admin_report %>
        <%= text_area 'admin_report', 'izvjestaj', :value => user.admin_report[15..user.admin_report.length-3], class: "form-control"  %> 
        <% else %>
          <%= text_area 'admin_report', 'izvjestaj', class: "form-control"  %>
        <%end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :name, 'Naziv' %>
  <%= f.text_field :name, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :description, 'Opis' %>
  <%= f.text_area :description, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :num_of_members, 'Broj potrebnih clanova' %>
  <%= f.number_field :num_of_members, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :deadline_to_apply, 'Krajnji datum za prijave' %>
  <%= f.date_field :deadline_to_apply, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :deadline, 'Krajnji datum za zavrsetak zadatka' %>
  <%= f.date_field :deadline, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :note, 'Upute' %>
  <%= f.text_area :note, class: "form-control" %>
</div>
<% if @edit %>
  <div class="form-group">
    <%= f.label :report, 'Izvještaj' %>
    <%= f.text_area :report, class: "form-control" %>
  </div>
   <div class="form-group">
    <%= f.label :material, 'Link na materijale' %>
    <%= f.url_field :material, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :is_active, 'Aktivan task' %>
    <%= f.check_box :is_active %>
  </div>
<% end %>

<div class="form-group">
  <%= f.submit submit_label, class: "btn btn-success" %>
  <%= f.submit 'Nazad', name: 'cancel', class: "btn btn-default" %>
</div>