<%if @edit %>
  <%= link_to dashboard_path do %>
   <span class="glyphicon glyphicon-hand-left"> Nazad</span>
  <% end %>
  <p class="form-title">Uredi Profil</p>
<%else%>
  <p class="form-title">Registracija</p>
<%end%>
<div class="form-group">
  <%= f.label :firstname, 'Ime:' %>
  <%= f.text_field :firstname, class: 'form-control', required: true %>
</div>
<div class="form-group">
  <%= f.label :lastname, 'Prezime:' %>
  <%= f.text_field :lastname, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :username, 'Korisničko ime:' %>
  <%= f.text_field :username, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :email, 'Email:' %>
  <%= f.email_field :email, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :phone, 'Broj telefona:' %>
  <%= f.text_field :phone, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :department_id, 'Smjer:' %>
  <%= f.collection_select :department_id, Department.order(:name), :id, :name, {}, {:class => 'form-control'} %>
</div>
<div class="form-group">
  <%= f.label :birth_date, 'Datum rođenja:' %>
  <%= f.date_field :birth_date, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :place_of_birth, 'Mjesto rođenja:' %>
  <%= f.text_field :place_of_birth, class: 'form-control', required: true  %>
</div>
<div class="form-group">
  <%= f.label :previous_experience, 'Prethodno iskustvo:' %>
  <%= f.text_area :previous_experience, class: 'form-control'  %>
</div>
<div class="form-group">
  <%= f.label :reason_of_enrollment, 'Razlog učlanjenja:' %>
  <%= f.text_area :reason_of_enrollment, class: 'form-control'  %>
</div>
<div class="form-group">
  <%= f.label :additional_skills, 'Dodatne vještine:' %>
  <%= f.text_area :additional_skills, class: 'form-control' %>
</div>
<% unless @edit %>
  <div class="form-group">
    <%= f.label :password, 'Šifra' %>
    <%= f.password_field :password, class: 'form-control', required: true  %>
  </div>
<% end %>
<div class="form-group">
  <%= f.submit submit_label, class: 'btn btn-default btn-signup' %>
</div>










