<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<div class="panel panel-default show-panel">
		  <!-- Default panel contents -->
		  <div class="panel-heading"> <%= @event.name %></div>
		  <div class="panel-body">
		    <p><%= @event.description %></p>
		    <br>
		    <p><strong>Početak:</strong> <%= @event.start_date.strftime("%d.%m.%Y.  %H:%M") %></p>
		    <p><strong>Kraj:</strong> <%= @event.end_date.strftime("%d.%m.%Y.  %H:%M") %></p>
		    <p><strong>Ulaz:</strong> <%= @event.is_chargeable_msg %></p>
		    <p><strong>Evidentiranje prisustva:</strong> <%= @event.should_record_attendence_msg %></p>
		    <br>
		    <p><strong>Članovi koji dolaze: </strong>
			    <% @event.users.each do |user| %>
			    	<%= user.fullname %>&nbsp
			    <% end %>
		    </p>

		    <p class="btn-join"><%= link_to 'Pridruzi se', join_event_path(@event), class: 'btn btn-success', method: :post %></p> 
		  </div>

		</div>
	</div>
</div>
