<div class="form-group">
  <%= f.label :name, 'Ime' %>
  <%= f.text_field :name, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :description, 'Opis' %>
  <%= f.text_area :description, class: "form-control", required: true %>
</div>
<div class="form-group">
  <%= f.label :name, 'PoÄetak' %>
  <%= f.date_field :start_date, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :name, 'Kraj' %>
  <%= f.date_field :end_date, class: "form-control" %>
</div>
<div class="form-group">
  <p>Izaberite timove za ovaj projekat:</p>
  <% @teams.each do |team| %>
    <%= check_box_tag 'teams[]', team.id, @project.teams.include?(team) %> <%= team.shortcode %>
  <% end %>
</div>
<div class="form-group">
  <%= f.submit submit_label, class: "btn btn-success" %>
  <%= link_to "Nazad", :back, {:class=>"btn btn-default"} %>
</div>