<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("eestec.png", class: 'navbar_brand', width: '100', alt: "Logo"), root_path %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href='http://www.eestec-sa.ba' target="_blank" class="blue"> Saznaj više! </a></li>
        <% if current_user.nil? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="pacific-blue">Prijava <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li class="pacific-blue"><%= link_to 'Učlani se!', new_user_path %></li>
              <li class="pacific-blue"><%= link_to 'Loguj se!', new_session_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Dashboard', current_user.is_admin? ? admin_dashboard_path : dashboard_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid welcome">
  <%= link_to image_tag("welcome.jpg", class: 'navbar_brand', width: '1000', alt: "Logo"), root_path %>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    © Copyright <%= Time.now.year %> - EESTEC LC Sarajevo
  </div>
</nav>
