<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading violet-heading"><span class="glyphicon glyphicon-bell"></span> Notifikacije</div>
      <div class="panel-body">
        <% @dashboard.notifications.each do |notification| %>
          <p class="notification"><%= notification.message %> <%= link_to 'Pogledaj', notification.link %><p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading green-heading"><span class="glyphicon glyphicon-list"></span> Task manager</div>
      <div class="panel-body">
        Nema aktuelnih taskova.
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading pacific-heading">
      <span class="glyphicon glyphicon-calendar"></span> Aktuelni događaji</div>
    <div class="panel-body">
      <% if @dashboard.active_events.empty? %>
        Nema aktuelnih događaja.
      <% else %>
        <% @dashboard.active_events.each do |event| %>
          <p><%= event.name %>  Vrijeme: <%= event.start_date.strftime("%d.%m.%Y.  %H:%M") %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading red-heading">
      <span class="glyphicon glyphicon-tag"></span> Aktivni projekti
      </div>
      <div class="panel-body">
        <% @dashboard.active_projects.each do |project| %>
          <p><%= project.name %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading yellow-heading"><span class="glyphicon glyphicon-globe"></span> Moje radionice</div>
      <div class="panel-body">
        Niste prisustvovali radionicama.
      </div>
    </div>
  </div>
</div>
