<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading violet-heading"><span class="glyphicon glyphicon-bell"></span> Notifikacije</div>
      <div class="panel-body">
        <% @dashboard.notifications.each do |notification| %>
          <p class="notification"><%= notification.message %> <%= link_to 'Pogledaj', notification.link %><p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading green-heading"><span class="glyphicon glyphicon-list"></span> Task manager</div>
      <div class="panel-body">
        <form>
          <label class="radio-inline">
            <input type="radio" name="tasks" class="filterTasks" value="all_tasks" <% if !params[:tasks].present? || params[:tasks] == 'all_tasks' %>checked<% end %>> Svi taskovi
          </label>
          <label class="radio-inline">
            <input type="radio" name="tasks" class="filterTasks" value="my_tasks" <% if params[:tasks] == 'my_tasks' %>checked<% end%>> Moji taskovi
          </label>
          <label class="radio-inline">
            <input type="radio" name="tasks" class="filterTasks" value="open_tasks" <% if params[:tasks] == 'open_tasks' %>checked<% end %>> Otvoreni taskovi
          </label>
        </form>
        <ul class="list-group">
        <% @dashboard.tasks.each do |task| %>
          <li class="list-group-item">
            <span class="badge"> <%= task_label(task, @dashboard.applications) %> </span>
            <% if task_label(task, @dashboard.applications) == 'Otvoren' %>
              <button type="button" class="btn btn-success btn-sm" onclick="javascript:showApplicationModal('#application-modal', '<%= task.id %>', '<%= task.description %>');">
                Prijavi se
              </button>
                <%= task.name %> | <%= task.project_team.team.shortcode  %>
            <% else %>

                <%= button_to 'Odustani', user_task_path(task), method: :delete, class: 'btn btn-warning btn-sm left-button' %>
                <% if task_label(task, @dashboard.applications) == 'Odobren' %>
                  <%= link_to task.name, edit_user_task_path(task), title: 'Uredi task', rel: 'tooltip' %>
                <% else %>
                  <%= task.name %> | <%= task.project_team.team.shortcode  %>
                <% end %>
                <div style="clear:both;"></div>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
  <div class="panel panel-default">
    <div class="panel-heading pacific-heading">
      <span class="glyphicon glyphicon-calendar"></span> Aktuelni događaji</div>
    <div class="panel-body">
      <% if @dashboard.active_events.empty? %>
        Nema aktuelnih događaja.
      <% else %>
        <% @dashboard.active_events.each do |event| %>
          <p><%= event.name %> &nbsp <%= event.start_date.strftime("%d.%m.%Y.  %H:%M") %> <%= link_to 'Pogledaj', event_path(event) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading red-heading">
      <span class="glyphicon glyphicon-tag"></span> Aktivni projekti
      </div>
      <div class="panel-body">
        <% @dashboard.active_projects.each do |project| %>
          <p><%= project.name %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading yellow-heading"><span class="glyphicon glyphicon-globe"></span> Moje radionice</div>
      <div class="panel-body">
        Niste prisustvovali radionicama.
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="application-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p id="task-description"></p>
        <%= form_tag('/user_tasks', method: :post) do %>
          <input type="hidden" id="task_id" name="task_id" />
          <%= submit_tag 'Prijavi se', class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.filterTasks').click(function() {
      $(this).parent().parent().submit();
    });
  });
</script>