<div class="form-group">
  <p class="user-task-label">Naziv taska: </p>
  <%= f.label @task.name %>
</div>
<div class="form-group">
  <p class="user-task-label">Opis taska: </p>
  <%= f.label @task.description %>
</div>
<div class="form-group">
  <p class="user-task-label">Deadline: </p>
  <%= f.label @task.deadline %>
</div>
<% unless @task.material.nil? || @task.material==''%>
  <div class="form-group">
    <p class="user-task-label">Materijali: </p>
    <%= f.label @task.material %>
  </div>
<%end%>
<% unless @task.report.nil?%>
  <div class="form-group">
    <p class="user-task-label">Izvještaj administratora: </p>
    <%= f.label @task.report %>
  </div>
<%end%>
<div class="form-group">
  <p class="user-task-label">Izvještaj o tasku: </p>
  <%= f.text_area :user_report, class: "form-control" %>
</div>
<div class="form-group">
    <%= check_box_tag 'task_id', @task.id,!@task.is_active%> <%= f.label 'Završen' %>   
</div>
<div class="form-group">
  <%= f.submit 'Spasi promjene', class: 'btn btn-success' %>
</div>
